<a href="https://colab.research.google.com/github/tushar2411/Almabetter-Assignments/blob/main/SQL_Fundamentals_I_Assignment_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

In [ ]:
select customer_id from payment 
where amount>=110 and staff_id=2

# <b> Question 2 :  How many films begin with the letter J?

In [ ]:
select count(*) from film
where title like 'J%'

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

In [ ]:
select customer_name, customer_id from customer
where customer_name like E% and address ID < 500
order by customer_id desc limit 1