<a href="https://colab.research.google.com/github/tushar2411/Almabetter-Assignments/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import psycopg2 as pg2

In [ ]:
conn = pg2.connect(database = '')

In [ ]:
number = input("eneter the nuber")
string = str(number)
revv_num = string[::-1]
if string == revv_num:
  print("num is palindrome")
else:
  print("num is not")

eneter the nubermadam
num is palindrome

In [ ]:
list1 = [10, 20, 4, 45, 99]
list2 = list(set(list1))
list2.sort()

In [ ]:
lis1=list(range(4,22))
for num in lis1:
  if num % 2 != 0:
    print(num,end=' ')

5 7 9 11 13 15 17 19 21

In [ ]:

# Python program to find N largest
# element from given list of integers
 
l = [1000,298,3579,100,200,-45,900]
n = int(input('num'))
 
l.sort()
print(l[:n])

num4
[-45, 100, 200, 298]

In [ ]:
44start = 4
end = 19
for num in range(start,end+1):
  if num % 2 == 0:
    print(num,)

SyntaxError: ignored

In [ ]:
num

18

In [ ]:
print(list2[-2])

45

In [ ]:
print('seconf dsdds',sorted(list1-2])

NameError: ignored

In [ ]:
def secondmax(arr):
  sublist = [x for x in arr if x < max(arr)]
  return max(sublist)

if __name__ == '__main__':
  arr = [10, 20, 4, 45, 99]
  print(secondmax(arr))

45

In [ ]:
list1 = [10, 21, 4, 45, 66, 93, 1]

even_ct,odd_ct = 0, 0

for count in list1:
  if count % 2 == 0:
    even_ct += 1
  else:
    odd_ct += 1
  
print(even_ct)
print(odd_ct)

3
4

In [ ]:
# Python program to count Even
# and Odd numbers in a List

# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 1]

even_count, odd_count = 0, 0

# iterating each number in list
for num in list1:

	# checking condition
	if num % 2 == 0:
		even_count += 1

	else:
		odd_count += 1

print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [ ]:

# Python program to print Positive Numbers in a List

# list of numbers
list1 = [-10, -21, -4, 45, -66, 93]

# using list comprehension
pos_nos = [num for num in list1 if num >= 0]

print("Positive numbers in the list: ", *pos_nos)

Positive numbers in the list:  45 93

In [ ]:
import numpy as np
list1 = np.array([-10, -21, -4, 45, -66, 93])
ls2 = sorted(list1)

In [ ]:
ls2

[-66, -21, -10, -4, 45, 93]

In [ ]:
ps = ls2[-2:]

In [ ]:
ps

[45, 93]

In [48]:
def square(number):
  number=0
  for i in range(1,number+1):
    i = i**2
    print(i)

In [49]:
i = square(5)

In [ ]:
def sumsqr(n):
  sm = 0
  for i in range(1,n+1):
    sm = sm + (i*i)
  return sm

In [ ]:
def squaresum(n) :
  
    # Iterate i from 1 
    # and n finding 
    # square of i and
    # add to sum.
    sm = 0
    for i in range(1, n+1) :
        sm = sm + (i * i)
      
    return sm
  
# Driven Program
n = 6
print(squaresum(n))

91

In [ ]:
List = [12, 36, 43, 66]
print(List)
pos1,pos2 = 1,3
List[pos1],List[pos2] = List[pos1],List[pos2]
print(List)

[12, 36, 43, 66]
[12, 36, 43, 66]

In [ ]:
# Python3 program to swap elements
# at given positions

# Swap function
def swapPositions(list, pos1, pos2):
	
	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

# Driver function
List = [12, 56, 43, 56]
pos1, pos2 = 1, 3

print(swapPositions(List, pos1-1, pos2-1))

[43, 56, 12, 56]

In [ ]:
a=10
b=20

temp=a
a=b
b=temp
print(a,b)

20 10

In [45]:
List = [12, 36, 43, 66,95,50]
print(List)
pos1,pos2 = 2,5
List[pos1],List[pos2] = List[pos2],List[pos1]
print(List)

[12, 36, 43, 66, 95, 50]
[12, 36, 50, 66, 95, 43]

In [47]:
num = range(1,101)
# sum = 0
for i in num:
  i = i**2
  # sum = sum+1
print(i)

10000

In [ ]:
for i in range(1,101,2):
  if i % 2 !=0:
    i = i**2
    print(i)

In [58]:
num = [n**2 for n in range(1,101)]
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]